# [submodule "library/donkeycar"]
# 	path = library/donkeycar
# 	url = git@github.com:YUNSUNGWOONG/donkeycar.git
# [submodule "library/gym-donkeycar"]
# 	path = library/gym-donkeycar
# 	url = git@github.com:YUNSUNGWOONG/gym-donkeycar.git
[submodule "donkeycar"]
	path = donkeycar
	url = https://github.com/YUNSUNGWOONG/donkeycar.git
	branch = main
[submodule "gym-donkeycar"]
	path = gym-donkeycar
	url = https://github.com/YUNSUNGWOONG/gym-donkeycar.git
	branch = master
