[submodule "library/donkeycar"]
	path = library/donkeycar
	url = git@github.com:YUNSUNGWOONG/donkeycar.git
[submodule "library/gym-donkeycar"]
	path = library/gym-donkeycar
	url = git@github.com:YUNSUNGWOONG/gym-donkeycar.git
