absl-py==1.4.0
attrs==23.1.0
albumentations==1.4.0
Babel==2.12.1
backcall==0.2.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
cloudpickle==2.2.1
colorama==0.4.6
cycler==0.11.0
Cython==3.0.2
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.7
dm-tree==0.1.8
docutils==0.20.1
etils==1.4.1
exceptiongroup==1.1.3
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.42.1
fqdn==1.5.1
future==0.18.3
gast==0.4.0
grpcio==1.58.0
gym-notices==0.0.8
idna==3.4
imageio-ffmpeg==0.4.9
ipython-genutils==0.2.0
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
#jupyterlab-pygments==0.2.2
#jupyterlab-widgets==3.0.8
# keras==2.15.0
keras==2.8.0
keras-vis==0.4.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
MarkupSafe==2.1.3
mistune==3.0.1
mpmath==1.3.0
nest-asyncio==1.5.7
networkx==3.1
numpy==1.24.4
oauthlib==3.2.2
overrides==7.4.0
packaging==23.1
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.16.1
prometheus-client==0.17.1
promise==2.3
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
# added by jacksmith(start)
pydantic==2.7.4
pydantic-core==2.18.4
albucore==0.0.12
# added by jacksmith(end)
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.16.1
PyOpenGL==3.1.7
PyOpenGL-accelerate==3.1.7
pyparsing==3.1.1
pypiwin32==223
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.11
PyYAML==6.0.1
pyzmq==25.1.1
QtPy==2.4.0
referencing==0.30.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.10.2
rsa==4.9
scipy==1.11.2
Send2Trash==1.8.2
sh==2.0.6
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sympy==1.12
tenacity==8.2.3
# tensorboard-data-server==0.7.1
# tensorflow-estimator==2.15.0
# tensorflow-hub==0.14.0
# tensorflow-io-gcs-filesystem==0.31.0
# tensorflow-model-optimization==0.7.5
tensorboard==2.8.0 
tensorboard-data-server==0.6.1
tensorflow==2.8.0
tensorflow-estimator==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-model-optimization==0.7.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
tifffile==2023.8.30
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
#typing_extensions==4.6.1
typing_extensions==4.9.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.16
virtualenv==20.24.5
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
Werkzeug==2.3.7
widgetsnbextension==4.0.8
wrapt==1.14.0
zipp==3.16.2
