tensorflow


tensorflow-datasets
tensorflow-hub
tensorflow-model-optimization

debugpy

#jupyter

matplotlib
numpy
pandas
scipy
scikit-learn
sympy

opencv-python
ffmpeg-python

kivy
kivy_examples
buildozer
cython

albumentations
h5py
plotly
moviepy
vis
keras-vis
gym

pyopengl
pyopengl_accelerate
